Repository rg-hermann/modules_terraform, changes with the labels that .github/labeler.yml gives for each.
All labels: aks, infrastructure, keyvault, security, network, acr, container, observability, functions, runtime, ci, documentation

ci(security): add Trivy IaC scan job + documentation
  .github/workflows/terraform-ci.yml
  .trivyignore
  README.md
Labels: ci, documentation

update dependabot
  .github/dependabot.yml
Labels: ci

update pr quality
  .github/workflows/pr-quality.yml
Labels: ci

update dependabot
  .github/dependabot.yml
Labels: ci

Organizes modules under azure directory structure
  modules/azure/acr/README.md
  modules/azure/acr/main.tf
  modules/azure/acr/outputs.tf
  modules/azure/acr/variables.tf
  modules/azure/aks/README.md
  modules/azure/aks/main.tf
  modules/azure/aks/outputs.tf
  modules/azure/aks/variables.tf
  modules/azure/azure_function/README.md
  modules/azure/azure_function/main.tf
  modules/azure/azure_function/outputs.tf
  modules/azure/azure_function/variables.tf
  modules/azure/keyvault/README.md
  modules/azure/keyvault/main.tf
  modules/azure/keyvault/outputs.tf
  modules/azure/keyvault/variables.tf
  modules/azure/log_analytics/main.tf
  modules/azure/log_analytics/outputs.tf
  modules/azure/log_analytics/variables.tf
  modules/azure/vnet/README.md
  modules/azure/vnet/main.tf
  modules/azure/vnet/outputs.tf
  modules/azure/vnet/variables.tf
Labels: documentation

feat: add AWS S3 module with encryption and versioning
  modules/aws/s3/README.md
  modules/aws/s3/examples/simple/main.tf
  modules/aws/s3/main.tf
  modules/aws/s3/outputs.tf
  modules/aws/s3/variables.tf
  modules/aws/s3/versions.tf
Labels: documentation

feat: add AWS VPC module with subnets and internet gateway
  modules/aws/vpc/README.md
  modules/aws/vpc/main.tf
  modules/aws/vpc/outputs.tf
  modules/aws/vpc/variables.tf
  modules/aws/vpc/versions.tf
Labels: documentation

feat: add AWS IAM role module with optional inline policy
  modules/aws/iam_role/README.md
  modules/aws/iam_role/main.tf
  modules/aws/iam_role/outputs.tf
  modules/aws/iam_role/variables.tf
  modules/aws/iam_role/versions.tf
Labels: documentation

feat: add AWS RDS module for PostgreSQL/MySQL databases
  modules/aws/rds/README.md
  modules/aws/rds/main.tf
  modules/aws/rds/outputs.tf
  modules/aws/rds/variables.tf
  modules/aws/rds/versions.tf
Labels: documentation

feat: add AWS security group module with dynamic rules
  modules/aws/security_group/README.md
  modules/aws/security_group/main.tf
  modules/aws/security_group/outputs.tf
  modules/aws/security_group/variables.tf
  modules/aws/security_group/versions.tf
Labels: documentation

feat: add AWS ELB (ALB/NLB) module with target group and listener
  modules/aws/elb/README.md
  modules/aws/elb/main.tf
  modules/aws/elb/outputs.tf
  modules/aws/elb/variables.tf
  modules/aws/elb/versions.tf
Labels: documentation

feat: add AWS EKS cluster module with optional node group
  modules/aws/eks/README.md
  modules/aws/eks/main.tf
  modules/aws/eks/outputs.tf
  modules/aws/eks/variables.tf
  modules/aws/eks/versions.tf
Labels: documentation

feat: add Azure Storage Account module with network rules and encryption
  modules/azure/storage_account/README.md
  modules/azure/storage_account/main.tf
  modules/azure/storage_account/outputs.tf
  modules/azure/storage_account/variables.tf
  modules/azure/storage_account/versions.tf
Labels: documentation

feat: add Azure Managed Identity module for RBAC
  modules/azure/managed_identity/README.md
  modules/azure/managed_identity/main.tf
  modules/azure/managed_identity/outputs.tf
  modules/azure/managed_identity/variables.tf
  modules/azure/managed_identity/versions.tf
Labels: documentation

feat: add/improve Azure VNet module with subnets and NSG
  modules/azure/vnet/README.md
  modules/azure/vnet/main.tf
  modules/azure/vnet/outputs.tf
  modules/azure/vnet/variables.tf
  modules/azure/vnet/versions.tf
Labels: documentation

feat: add Azure PostgreSQL flexible server module
  modules/azure/postgresql/README.md
  modules/azure/postgresql/main.tf
  modules/azure/postgresql/outputs.tf
  modules/azure/postgresql/variables.tf
  modules/azure/postgresql/versions.tf
Labels: documentation

feat: add Azure App Service module with service plan
  modules/azure/app_service/README.md
  modules/azure/app_service/main.tf
  modules/azure/app_service/outputs.tf
  modules/azure/app_service/variables.tf
  modules/azure/app_service/versions.tf
Labels: documentation

ci: enhance CI/CD with module validation, dependabot auto-merge, and cost estimate
  .github/dependabot.yml
  .github/workflows/cost-estimate.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/module-validate.yml
  .github/workflows/terraform-ci.yml
Labels: ci

docs: add CI/CD pipeline documentation
  CI_CD.md
Labels: documentation

fix: pr-quality workflow - validate modules instead of root
  .github/workflows/pr-quality.yml
Labels: ci

docs: update root with example module compositions (waiting for PRs to merge)
  env/dev.tfvars
  main.tf
  outputs.tf
  variables.tf
Labels: none

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

chore: re-trigger PR quality workflow
  README.md
Labels: documentation

.github/labeler.yml:

## Labeler configuration
# actions/labeler@v5 requer que cada label possua uma lista de "config options".
# Cada item dessa lista é um objeto (ex: changed-files/head-branch/base-branch) com suas condições.
# Referência: https://github.com/actions/labeler
# Padrão adotado: usamos apenas o matcher changed-files com any-glob-to-any-file.

aks:
  - changed-files:
      any-glob-to-any-file:
        - modules/aks/**

infrastructure:
  - changed-files:
      any-glob-to-any-file:
        - modules/aks/**

keyvault:
  - changed-files:
      any-glob-to-any-file:
        - modules/keyvault/**

security:
  - changed-files:
      any-glob-to-any-file:
        - modules/keyvault/**

network:
  - changed-files:
      any-glob-to-any-file:
        - modules/vnet/**

acr:
  - changed-files:
      any-glob-to-any-file:
        - modules/acr/**

container:
  - changed-files:
      any-glob-to-any-file:
        - modules/acr/**

observability:
  - changed-files:
      any-glob-to-any-file:
        - modules/log_analytics/**

functions:
  - changed-files:
      any-glob-to-any-file:
        - modules/azure_function/**

runtime:
  - changed-files:
      any-glob-to-any-file:
        - modules/azure_function/**

ci:
  - changed-files:
      any-glob-to-any-file:
        - .github/**

documentation:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'
